@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

body {
  font-family: 'Nanum Gothic Coding','VT323','Josefin Sans', cursive;
  font-size: 1.5rem;
  font-weight: 100;
}
* {
  margin: 0;
}
.header nav {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.header nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}
.header nav a:hover {
  color: lightblue;
}

.content{
  width: 70%;
  min-height: 380px;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 25px auto;
  padding: 25px;
}
